.Login-Form{
    width: 100%;
    font-family: sans-serif;
    /*background: rgb(27, 27, 146) ;*/
    color: #014282;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* height: 0vh; */
}


*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-family: 'Raleway', sans-serif;

} 

body
{
    background-color: rgb(244, 247, 248);
    border: #014282;
    background-size: cover;
    color: #fff;
    /*background: url(EXCEL.jpeg);*/
    background-size: cover;
    margin: 0;

}
.Login-Form
{
    align-content: center;
    /* padding-top: 0px; */
    top: 10;
    bottom: 10;
}

/*.Login-Form h1
{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
}
*/
.Login-Form input
{
    border: 1px #014282 solid;
    font-size: 16px;
    padding: 15px 10px;
    width: 75%;
   /* border: 0;*/
    border-radius: 5px;
    outline: none;
}

.Login-Form p
{
    font-size: 25px;
    margin: 15px 0;
}
h3{
    font-size: 20px;
    margin: 15px 0;
}
.Login-Form button
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
    padding: 10px 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%;
    border: 1px #014282 solid;
    
    
    background-color: #fff;
}

.inner {
    padding-top: 3000px;
    height: 350px;
}

.inner .image-holder
{
    width: 50%;
    position: relative;
}
.inner form
{
    width: 50%;
    padding-top: 36px;
    padding-left: 45px;
    padding-right: 45px;
}

*
{
    box-sizing: border-box;
}
    
input, select
{
    font-family: arial;
    color: #333;
    font-size: 14px;
   
}


img
{max-width: 82%;}
:focus
{
    outline: none;
}
.wrapper
{
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inner
{
    padding: 20px;
    background: #fff;
    max-width: 850px;
    margin: auto;
    display: flex;
    border: #014282 solid;
}
.inner .image-holder
{
    width: 50%;
    position: relative;
}
.inner form
{
    margin-top: 20p;
    width: 50%;
    /* padding-top: 36px; */
    padding-left: 45px;
    padding-right: 45px;
}
.inner h3
{
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
    margin-bottom: 25px;
}
.form-group
{
    display: flex;
}
.form-group input
{
    width: 50%;
}
.form-group input:first-child
{
    margin-right: 25px;
}
.form-wrapper
{
    position: relative;
}
.form-control
{
    border: 1px solid #333;
    border: none;
    border-bottom: 1px solid #333; 
    display: block;
    width: 100%;
    height: 30px;
    padding-right: 0;
    margin-bottom: 25px;
    margin-top: 25px;
}

button
{
    border: none;
    width: 164px;
    height: 51px;
    margin: auto;
    margin-top: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    font-size: 15px;
    will-change: auto;
    transition: background-color;
    border-radius: 5px black solid;
}

button:hover
{
    background-color: #014282;

}
@media(max-width: 767px)
{
    inner
    {
        display: block;
    }
    .inner.image-holder
    {
        width: 100%;
    }
    .inner form
    {
      width: 100%;
      padding: 40px 0 30px;    
    }
    button
    {
        margin-top: 60px;
        padding: 50%;
    }
}
.image1
{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    z-index: 3;
}

.image2
{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.image-back {
    position: absolute;
}

.rounded-borders {
    border-radius: 5px;
    width: 100%;
    display: inline-block;
    margin-right: 5px;
}

.flex-box {
    display: flex;
    width: 100%;
}

.flex-box button:last-child {
    margin-left: 20px;
}

a {
    color: rgb(206, 177, 11);
    text-decoration: none;
}